/* Add your CSS here to style your father's day page */
:root {
    --pfont: Arial, sans-serif;
    --tfont: Tahoma;
    --funfont: Georgia;
}

#wrapper {
    text-align: center;
    background-color: darkcyan;
    border: 12px outset black;
}

section {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tfont);
}

@keyframes wiggle {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }

    0% {
        color: #ff0000;
    }

    /* Red */
    17% {
        color: #ff8800;
    }

    /* Orange */
    33% {
        color: #ffff00;
    }

    /* Yellow */
    50% {
        color: #00ff00;
    }

    /* Green */
    67% {
        color: #0000ff;
    }

    /* Blue */
    84% {
        color: #8800ff;
    }

    /* Indigo/Violet */
    100% {
        color: #ff0000;
    }

    /* Back to Red for a smooth loop */
}

h1 {
    animation-name: wiggle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-text-stroke: 2px black;
}

p,
footer {
    font-family: var(--pfont);
    margin: 4px;
}

p {
    text-align: left;
    border: 3px dotted black;
    border-radius: 6px;
    padding: 8px;
    max-width: 600px;
    margin: auto;
}

ul {
    list-style-position: inside;
    text-align: left;
    font-family: var(--funfont);
    font-size: larger;
    display: inline-block;
    border: 3px dotted black;
    border-radius: 6px;
    padding: 12px;
}

img {
    border-radius: 12px;
    width: 35%;
}

h2 {
    display: inline-block;
    max-width: 200px;
    border-radius: 4px;
    background-color: aquamarine;
    padding: 6px 12px;
}