/* variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #335c67;
    --color2: #fff3b0;
    --color3: #e09f3e;
    --color4: #9e2a2b;
    --font: Roboto
}

body {
    margin: 0;
    padding: 0;
}

#content {
    max-width: 2000px;
}

header {
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 100px auto;
    height: 100px;
    border-radius: 15px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font);
}

nav a {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    margin: auto;
    padding: 40px;
}

nav a:hover {
    background-color: var(--color2);
    color: var(--color1);
    text-decoration: underline;
    border-radius: 15px;
}

.logo {
    width: 100px;
    text-align: left;
}

main {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #e09f3e;
}

.info {
    font-family: var(--font);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

p {
    text-align: left;
    margin: auto;
}

h1,
h3 {
    font-weight: bold;
}

#interests {
    text-align: center;
}

ul {
    display: inline-block;
    list-style-position: inside;
    text-align: left;
}

table {
    display: inline-block;
}

table,
td {
    border: 3px solid var(--color1);
}

th {
    background-color: var(--color4);
    color: white;
}

footer {
    background-color: #9e2a2b;
    max-width: 2000px;
    height: 75px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer p {
    color: white;
    font-family: var(--font);
    padding: 30px;
}

#button {
    cursor: pointer;
    display: flex;
}


#contact-pullout {
    border: 4px solid #9e2a2b;
    background-color: #fff3b5;
    font-family: var(--font);
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 0;
}

#contact-pullout h1 {
    text-align: center;
    top: 50%;
}